@page "/"
@rendermode InteractiveServer
@using SolaceWebClient.Services
@inject SolacePublishService PublishService
@inject SolaceSubscribeService SubscribeService
@inject Blazored.Toast.Services.IToastService toastService
@implements IDisposable
@inject PresetService PresetService

<h3>Solace PubSub+</h3>

<div class="form-container">
    <div class="form-section">
        <h4>Publish Message</h4>
        <div class="form-group">
            <Dropdown @ref="pubPresetDropdown">
                <DropdownToggle Color="Color.Primary">@selectedPubPreset</DropdownToggle>
                <DropdownMenu>
                    @foreach (var group in presetGroups)
                    {
                        <Dropdown>
                            <DropdownToggle> @group.GroupName </DropdownToggle>
                            <DropdownMenu>
                                @foreach (var preset in group.Presets)
                                {
                                    <DropdownItem @onclick="() => LoadPresetPublish(preset)">@preset.Name</DropdownItem>
                                }
                            </DropdownMenu>
                        </Dropdown>
                    }
                    @foreach (var preset in ungroupedPresets)
                    {
                        <DropdownItem @onclick="() => LoadPresetPublish(preset)">@preset.Name</DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>
        </div>
        <div class="form-group">
            <div class="input-with-checkbox">
                <div class="input-container">
                    <label>Hostname:Port</label>
                    <input @bind="publishHost" name="publishHost" autocomplete="on" placeholder="tcps://broker.domain:55443" />
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" @bind="publishSslVerify" id="publishSslVerify" />
                    <label for="publishSslVerify">SSL Verify</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>VPN Name</label>
            <input @bind="publishVpnName" name="publishVpnName" autocomplete="on" placeholder="default" />
        </div>
        <div class="form-group">
            <label>Username</label>
            <input @bind="publishUsername" name="publishUsername" autocomplete="on" placeholder="Username" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input @bind="publishPassword" name="publishPassword" type="password" autocomplete="on" placeholder="Password" />
        </div>
        <div class="form-group">
            <label>Topic</label>
            <input @bind="publishTopic" name="publishTopic" autocomplete="on" placeholder="topic" />
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea @bind="publishMessage" name="publishMessage" autocomplete="on" placeholder="Message"></textarea>
        </div>
        <button class="btn btn-primary" @onclick="ConnectAndPublish">Publish</button>
    </div>

    <div class="form-section">
        <h4>Subscribe to Topic</h4>
        <div class="form-group">
            <Dropdown @ref="subPresetDropdown">
                <DropdownToggle Color="Color.Primary">@selectedSubPreset</DropdownToggle>
                <DropdownMenu>
                    @foreach (var group in presetGroups)
                    {
                        <Dropdown>
                            <DropdownToggle> @group.GroupName </DropdownToggle>
                            <DropdownMenu>
                                @foreach (var preset in group.Presets)
                                {
                                    <DropdownItem @onclick="() => LoadPresetSubscribe(preset)">@preset.Name</DropdownItem>
                                }
                            </DropdownMenu>
                        </Dropdown>
                    }
                    @foreach (var preset in ungroupedPresets)
                    {
                        <DropdownItem @onclick="() => LoadPresetSubscribe(preset)">@preset.Name</DropdownItem>
                    }
                </DropdownMenu>
            </Dropdown>
        </div>
        <div class="form-group">
            <div class="input-with-checkbox">
                <div class="input-container">
                    <label>Hostname:Port</label>
                    <input @bind="subscribeHost" name="subscribeHost" autocomplete="on" placeholder="tcps://broker.domain:55443" />
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" @bind="subscribeSslVerify" id="subscribeSslVerify" />
                    <label for="subscribeSslVerify">SSL Verify</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>VPN Name</label>
            <input @bind="subscribeVpnName" name="subscribeVpnName" autocomplete="on" placeholder="default" />
        </div>
        <div class="form-group">
            <label>Username</label>
            <input @bind="subscribeUsername" name="subscribeUsername" autocomplete="on" placeholder="Username" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input @bind="subscribePassword" name="subscribePassword" type="password" autocomplete="on" placeholder="Password" />
        </div>
        <div class="form-group">
            <label>Topic</label>
            <input @bind="subscribeTopic" name="subscribeTopic" autocomplete="on" placeholder="topic" />
        </div>
        <button class="btn btn-primary" @onclick="SubscribeToTopic">Subscribe</button>
        <button class="btn btn-primary" @onclick="Unsubscribe">Unsubscribe</button>
    </div>
</div>

<div>
    <h4>Messages</h4>
    <ul>
        @foreach (var message in messages)
        {
            <li>@message</li>
        }
    </ul>
</div>

@code {
    private string publishHost;
    private string publishVpnName;
    private string publishUsername;
    private string publishPassword;
    private string publishTopic;
    private string publishMessage;
    private bool publishSslVerify = true;
    private string subscribeHost;
    private string subscribeVpnName;
    private string subscribeUsername;
    private string subscribePassword;
    private string subscribeTopic;
    private bool subscribeSslVerify = true;

    private string selectedPubPreset = "Select Preset";
    private string selectedSubPreset = "Select Preset";
    Dropdown pubPresetDropdown;
    Dropdown subPresetDropdown;
    private List<PresetGroupModel> presetGroups = new List<PresetGroupModel>();
    private List<PresetModel> ungroupedPresets = new List<PresetModel>();

    private List<string> messages = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        presetGroups = await PresetService.GetPresetGroupsAsync();
        ungroupedPresets = await PresetService.GetUngroupedPresetsAsync();
    }

    private async Task LoadPresetPublish(PresetModel preset)
    {
        if (preset != null)
        {
            publishHost = preset.Host;
            publishVpnName = preset.VpnName;
            publishUsername = preset.Username;
            publishTopic = preset.Topic;
            selectedPubPreset = preset.Name;

            Console.WriteLine($"Loaded Preset: {preset.Name}");
        }
        HidePubDropdownMenu();

    }

    private async Task LoadPresetSubscribe(PresetModel preset)
    {
        if (preset != null)
        {
            subscribeHost = preset.Host;
            subscribeVpnName = preset.VpnName;
            subscribeUsername = preset.Username;
            subscribeTopic = preset.Topic;
            selectedSubPreset = preset.Name;

            Console.WriteLine($"Loaded Preset: {preset.Name}");
        }
        HideSubDropdownMenu();

    }

    private void ConnectAndPublish()
    {
        try
        {
            PublishService.PublishMessage(publishHost, publishVpnName, publishUsername, publishPassword, publishTopic, publishMessage, publishSslVerify);
            toastService.ShowSuccess("Successfully published message");
        }
        catch (SolaceSystems.Solclient.Messaging.OperationErrorException ex)
        {
            toastService.ShowError($"Error publishing message: {ex.ErrorInfo}");
        }
    }

    private async Task SubscribeToTopic()
    {
        try
        {
            SubscribeService.SubscribeToTopic(subscribeHost, subscribeVpnName, subscribeUsername, subscribePassword, subscribeTopic, subscribeSslVerify, message =>
            {
                InvokeAsync(() =>
                {
                    messages.Add(message);
                    StateHasChanged();
                });
            });
            toastService.ShowSuccess("Subscription started");
        }
        catch (SolaceSystems.Solclient.Messaging.OperationErrorException ex)
        {
            toastService.ShowError($"Error starting Subscription: {ex.ErrorInfo}");
        }


    }

    public void Unsubscribe()
    {
        try
        {
            SubscribeService.Disconnect();
            toastService.ShowSuccess("Subscription stopped");
        }
        catch (SolaceSystems.Solclient.Messaging.OperationErrorException ex)
        {
            toastService.ShowError($"Error: {ex.ErrorInfo}");
        }

    }

    public void Dispose()
    {
        SubscribeService.Dispose();
        PublishService.Dispose();
    }

    Task HidePubDropdownMenu()
    {
        return pubPresetDropdown.Hide();
    }

    Task HideSubDropdownMenu()
    {
        return subPresetDropdown.Hide();
    }
}
